{% extends 'base.html' %}

{% block title %}Редагування профілю{% endblock %}

{% block content %}
  <div class="edit-card mx-auto">
    <h2 class="mb-4 text-center">✏️ Редагування профілю</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h4 class="mb-3">👤 Дані користувача</h4>
      {{ user_form.as_p }}
      <h4 class="mb-3">📄 Профіль</h4>
      {{ profile_form.as_p }}
      <button type="submit" class="btn btn-success w-100 mt-3">💾 Зберегти</button>
    </form>
  </div>
{% endblock %}