{% extends 'base_reg.html' %}
{% block title %}Вхід{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">Вхід</h2>

<form method="post" novalidate class="row g-3">
  {% csrf_token %}

  <div class="col-12">
    <label for="id_username" class="form-label">Ім’я користувача або Email</label>
    {{ form.username }}
  </div>

  <div class="col-12">
    <label for="id_password" class="form-label">Пароль</label>
    {{ form.password }}
  </div>

  <div class="col-12">
    <button type="submit" class="btn-main">Увійти</button>
  </div>

  <div class="col-12 text-center">
    <a href="{% url 'register:register' %}" class="btn btn-link">
      У мене немає акаунта
    </a>
  </div>
</form>
{% endblock %}