{% extends 'base.html' %}

{% block title %}Мій профіль{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h1 class="mb-4">Мій профіль</h1>

    <div class="mb-3"><strong>Ім’я користувача:</strong> {{ user.username }}</div>
    <div class="mb-3"><strong>Email:</strong> {{ user.email }}</div>
    <div class="mb-3"><strong>Ім’я:</strong> {{ user.first_name }} {{ user.last_name }}</div>
    <div class="mb-3"><strong>Роль:</strong> {{ user.profile.get_role_display }}</div>
    <div class="mb-3"><strong>Біо:</strong> {{ user.profile.bio }}</div>

    {% if user.profile.avatar %}
      <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="avatar mb-4">
    {% endif %}

    <a href="{% url 'register:profile_edit' %}" class="btn btn-reserve me-2">Редагувати профіль</a>
    <a href="{% url 'register:logout' %}" class="btn btn-outline-secondary">Вийти</a>
  {% else %}
    <div class="text-center py-5">
      <h2 class="mb-4">🔒 Ви не увійшли в акаунт</h2>
      <a href="{% url 'register:login' %}" class="btn btn-reserve">Увійти</a>
    </div>
  {% endif %}
{% endblock %}