{% extends 'base.html' %}

{% block title %}{{ dish.name }}{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <style>
    /* Контейнер фіксованого розміру з пропорційним зменшенням зображення */
    .img-frame {
      width: 400px;
      height: 300px;
      background: #f5f1ee;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: .5rem;
    }
    .img-frame img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  </style>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'cart:add_to_cart' dish.id %}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="quantity" class="form-label">Кількість</label>
    <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control" style="width: 100px;">
  </div>
  <button type="submit" class="btn btn-success btn-reserve">Додати до кошика</button>
</form>

  <div class="row my-4">
    <div class="col-md-6">
      <h1>{{ dish.name }}</h1>
      <p>{{ dish.description }}</p>
      <p><b>Ціна:</b> {{ dish.price }} грн</p>

      {% if dish.image %}
        <div class="img-frame shadow-sm mb-3">
          <img
            src="{{ dish.image.url }}"
            alt="{{ dish.name }}"
          >
        </div>
      {% endif %}

      <p><b>Інгредієнти:</b> {{ dish.ingredients }}</p>

      {% if dish.in_stock %}
        <p class="text-success">✅ В наявності ({{ dish.stock }})</p>
      {% else %}
        <p class="text-danger">❌ Немає в наявності</p>
      {% endif %}
    </div>
  </div>
{% endblock %}