{% extends 'base.html' %}

{% block title %}{{ dish.name }}{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <style>
    /* Контейнер фіксованого розміру з пропорційним зменшенням зображення */
    .img-frame {
      width: 400px;
      height: 300px;
      background: #f5f1ee;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: .5rem;
    }
    .img-frame img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  </style>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'cart:add_to_cart' dish.id %}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="quantity" class="form-label">Кількість</label>
    <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control" style="width: 100px;">
  </div>
  <button type="submit" class="btn btn-success btn-reserve">Додати до кошика</button>
</form>

  <div class="row my-4">
    <div class="col-md-6">
      <h1>{{ dish.name }}</h1>
      <p>{{ dish.description }}</p>
      <p><b>Ціна:</b> {{ dish.price }} грн</p>

      {% if dish.image %}
        <div class="img-frame shadow-sm mb-3">
          <img
            src="{{ dish.image.url }}"
            alt="{{ dish.name }}"
          >
        </div>
      {% endif %}

      <p><b>Інгредієнти:</b> {{ dish.ingredients }}</p>

      {% if dish.available %}
        <p class="text-success">✅ В наявності</p>
      {% else %}
        <p class="text-danger">❌ Немає в наявності</p>
      {% endif %}
    </div>
  </div>
<hr>
<h3>Відгуки</h3>

{% if reviews %}
  <ul>
    {% for review in reviews %}
      <li style="margin-bottom: 10px;">
        <strong>{{ review.user.username }}</strong>
        ⭐ {{ review.rating }}/5 <br>
        {{ review.comment }} <br>
        <small>{{ review.created_at|date:"d.m.Y H:i" }}</small>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Поки немає відгуків. Будь першим!</p>
{% endif %}

<hr>
{% if user.is_authenticated %}
  <h4>{% if user_review %}Оновити свій відгук{% else %}Залишити відгук{% endif %}</h4>

  <form method="post" action="{% url 'reviews:add_review' dish.id %}">
    {% csrf_token %}
    <label for="rating">Оцінка:</label>
    <select name="rating" id="rating">
      {% for i in "12345" %}
        <option value="{{ i }}" {% if user_review and user_review.rating == i|add:"0" %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
    </select><br>

    <label for="comment">Коментар:</label><br>
    <textarea name="comment" id="comment" rows="4" cols="50">{% if user_review %}{{ user_review.comment }}{% endif %}</textarea><br>

    <button type="submit">{% if user_review %}Оновити{% else %}Надіслати{% endif %}</button>
  </form>
{% else %}
  <p><a href="{% url 'register:login' %}">Увійдіть</a>, щоб залишити відгук.</p>
{% endif %}

{% endblock %}